

.intro{
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;

}
.button:hover {
    background-color: blue;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 8px;
    margin: 10px;
}

img:hover {
    transform: scale(1.05);
    width: 200px;
    border-radius: 50%;
}

header {
    border: 3px solid black;
    padding: 30px;
}

body {
    background-color: #f8f9fa;
    font-size: 20px;
    font-family: Calibri, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}